[user]
	name = Garrett Everding
	email = garrett.everding92@gmail.com
[credential]
	helper = cache
[alias]
	st = status -sb
	co = checkout
	pl = pull
  ps = push
  psm = push origin master
  cm = commit
  cmm = commit -m
  br = branch
  df = diff
	lg = log --graph --all
  hst = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
	tool = meld
[help]
	autocorrect = 1
