# Require
snippet req
	${2:$1} = require '${1:sys}'${3}
# Section
snippet section
	#=----------------------------------------------------------------------------=#
	# ${1}
	#=----------------------------------------------------------------------------=#
# Export
snippet exp
	${1:root} = exports ? this
