snippet header "Comment Header for c" b
/*******************************************************************************
* Filename: ${1:`!p snip.rv = snip.fn`}
* Authors: $2
* Date: `date +"%b %d, %Y"`
*/
endsnippet
