snippet section "Section" b
	#=----------------------------------------------------------------------------=#
	# ${1}
	#=----------------------------------------------------------------------------=#
endsnippet

snippet exp "Node.js Export" b
	${1:root} = exports ? this
endsnippet

